@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Manrope&display=swap');
@import url('https://fonts.cdnfonts.com/css/fraunces-144pt-s000');
$dark-purple:#24053E;
$davy-grey:#584D62;
$light-green:#44FFA1;
$ghost-white:#FCF8FF;
$white:#FFFfff;
$font-fam-heading:'Fraunces 144pt S000', sans-serif;
$font-fam-body: 'Manrope', sans-serif;
$size-L: calc(80/16) + rem;
$line-height-L: calc(80/16) + rem;
$size-M: calc(56/16) + rem;
$line-height-M: calc(64/16) + rem;
$size-S: calc(32/16) + rem;
$line-height-S: calc(40/16) + rem;  